*{
	box-sizing: border-box;
}

body{
	margin: 0px;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
}

.mainHeader{
	height: 70px;
	background-color: gray;
	padding: 0 20px;

}

.mainHeader 
.content{
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mainHeader 
.content 
.logo{
	/*LOGO*/
}

.mainHeader 
.content 
.menu{
	/*MENU-NAV*/
}

.mainHeader 
.content 
.menu 
.menuList {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mainHeader 
.content 
.menu 
.menuList 
.menuItem {
	display: inline-block;
	margin-right: 20px;
}

.mainHeader 
.content 
.menu 
.menuList 
.menuItem 
.links {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-family:'Comic Sans MS', sans-serif;
	font-size: 14px;
}

.mainHeader 
.content 
.menu 
.menuList 
.menuItem:last-child {
	margin-right: 0;
}

.main{
	overflow: auto;
}

.menuBuscador{
	border: 2px solid;
	height: 200px;
	display: flex;
	justify-content: center;
  	align-items: center;
}

.menuBuscador
.container
.titulo{
	margin: 0;
	margin-bottom: 5px;
}

.articulos{
	border-bottom: 2px solid;
	border-left: 2px solid;
	border-right: 2px solid;
	/*padding: 0 20px;*/
	display: flex;
	justify-content:space-between;
	text-align: center;
}

.articulos
.articulo{	
	border: 2px solid;
	padding: 0 15px;
	width: 30%;
}

.articulos
.articulo
.texto{
	text-align: justify;
}

.mainFooter{
	height: 70px;
	background-color: gray;
	padding: 0 20px;
}

.mainFooter 
.content{
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.mainFooter
.content
.menu{
	
}

.mainFooter 
.content
.menu 
.menuList {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mainFooter 
.content
.menu 
.menuList 
.menuItem {
	display: inline-block;
	margin-right: 20px;
}

.mainFooter 
.content
.menu 
.menuList 
.menuItem 
.links {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-family:'Comic Sans MS', sans-serif;
	font-size: 14px;
}
 
.mainFooter 
.content
.menu 
.menuList 
.menuItem:last-child {
	margin-right: 0;
}