<!DOCTYPE html>
<html lang="en" ng-app="tpAirbnApp">
<head>
	<meta charset="UTF-8">
	<title>TP-AirBnb</title>

    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/resultado.css">
    <link rel="stylesheet" href="css/footer.css">

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="MainCtrl">
    <div class="container">
    	<header class="mainHeader">
            <div class="mainHeader-container">

                <a ui-sref="home" class="logo">
                    <img src="Images/logo.png" alt="LogoApp">
                </a>

                <div class="menuBuscador-container" ng-show="stateName != 'home'">
                    <input type="text" class="buscador" placeholder="Buscar..." ng-model="query">
                    <button class="botonBuscar" ng-click="validarYBuscar()">Buscar</button>
                </div>

                <nav class="menu">

                    <ul class="menuList">
                        <li class="menuItem">
                            <a href="#" class="links">
        						Opcion 1
        					</a>
                        </li>
                        <li class="menuItem">
                            <a href="#" class="links">
        						Opcion 2
        					</a>
                        </li>
                        <li class="menuItem">
                            <a href="#" class="links">
        						Opcion 3
        					</a>
                        </li>
                        <li class="menuItem">
                            <a href="#" class="links">
        						Opcion 4
        					</a>
                        </li>
                    </ul>
                </nav>
            </div>
    	</header>

        <section ui-view></section>

        <!--<section class="home">
    		<section class="menuBuscador">
    			<div class="menuBuscador-container">
    				<h3 class="titulo">Buscar Propiedad</h3>
    				<input type="text" class="buscador">
    				<button class="botonBuscar">Buscar</button>
    			</div>
    		</section>
    		<section class="articulos">
    			<article class="articulo">
    				<h2 class="titulo">A Subtitle</h2>
    				<p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sunt blanditiis quos optio accusantium nostrum sequi sapiente, dicta animi illo, tempore, vitae sit consequuntur. Consectetur fuga obcaecati debitis, maxime ratione!</p>
    			</article>
    			<article class="articulo">
    				<h2 class="titulo">A Subtitle</h2>
    				<p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sunt blanditiis quos optio accusantium nostrum sequi sapiente, dicta animi illo, tempore, vitae sit consequuntur. Consectetur fuga obcaecati debitis, maxime ratione!</p>
    			</article>
    			<article class="articulo">
    				<h2 class="titulo">A Subtitle</h2>
    				<p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sunt blanditiis quos optio accusantium nostrum sequi sapiente, dicta animi illo, tempore, vitae sit consequuntur. Consectetur fuga obcaecati debitis, maxime ratione!</p>
    			</article>
    		</section>
    	</section> -->

        <!--<section class="resultado">
            <section class="filtros">
                <div class="filtros-container">
                    <nav class="menu">
                        <ul class="menuList">
                            <li class="menuItem">
                                <a href="#" class="links">
                                    Filtro 1
                                </a>
                            </li>
                            <li class="menuItem">
                                <a href="#" class="links">
                                    Filtro 2
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>

            <section class="resultados">
                <article class="articulo">
                    <img src="" alt="foto" class="foto">
                    <section class="articulo-header">    
                        <h2 class="titulo">A Subtitle</h2>
                        <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sunt blanditiis quos optio accusantium nostrum sequi sapiente, dicta animi illo, tempore, vitae sit consequuntur. Consectetur fuga obcaecati debitis, maxime ratione!</p>
                    </section>
                    <div class="btn-container">
                        <button class="btn-detalle">Ver</button>
                    </div>
                </article>

                <article class="articulo">
                    <img src="" alt="foto" class="foto">
                    <section class="articulo-header">    
                        <h2 class="titulo">A Subtitle</h2>
                        <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sunt blanditiis quos optio accusantium nostrum sequi sapiente, dicta animi illo, tempore, vitae sit consequuntur. Consectetur fuga obcaecati debitis, maxime ratione!</p>
                    </section>
                    <div class="btn-container">
                        <button class="btn-detalle">Ver</button>
                    </div>
                </article>
            </section>
        </section> -->

    	<footer class="mainFooter">
    		<div class="content">
                <nav class="menu">
                    <ul class="menuList">
                        <li class="menuItem">
                            <a href="#" class="links">
        						Link 1
        					</a>
                        </li>
                        <li class="menuItem">
                            <a href="#" class="links">
        						Link 2
        					</a>
                        </li>
                        <li class="menuItem">
                            <a href="#" class="links">
        						Link 3
        					</a>
                        </li>
                    </ul>
                </nav>
            </div>
    	</footer>
    </div>
</body>
</html>