.form-container{
	display: flex;
	justify-content:space-between;
}

.myform{
	width: 300px;
}

.myfield{
	border: none;
	margin: 0;
	padding: 10px 0px;
}

.myfield
.mylabel{
	display: block;
}

.myfield
.myinput{
	display: block;
	width: 100%;
}

.myfield
.myarea{
	display: block;
	width: 100%;
}

.myfield
.mybutton{
	width: 100%;
}

.mysearchfield-container{
	border: none;
	margin: 0;
	padding: 0;
	display: flex;
  	align-items: center;
}

.dropzone-container{
	border: 1px dashed;
	margin: 0;
	padding: 0;
	height: 155px;
	width: 650px;
	overflow: auto;
}

.mysearchfield-container
.mybutton{
	margin-left: 5px;
	width: 60px;
	height: 100%;
}