<h2>Publicar Depto</h2>
<div class="form-container">
    <!-- novalidate -->
    <form class="myform">
        <fieldset class="myfield">
            <label class="mylabel" for="titulo">Titulo</label>
            <input class="myinput" type="text" name="titulo" id="titulo" placeholder="" ng-model="titulo" required>
        </fieldset>
        <fieldset class="myfield">
            <label class="mylabel" for="descripcion">Descripcion</label>
            <textarea class="myarea" name="descripcion" id="descripcion" placeholder="" rows="5" ng-model="descripcion"></textarea>
        </fieldset>
        <fieldset class="myfield">
            <label class="mylabel" for="direccion">Direccion</label>
            <div class="mysearchfield-container">
                <input class="myinput" type="text" name="direccion" placeholder="" ng-model="direccion.FullAdress">
                <button class="mybutton" type="button" ng-click="buscarDireccion()">Buscar</button>
                <div id="map_canvas" style="width: 500px; height: 500px; display:none"></div>
            </div>
        </fieldset>
        <fieldset class="myfield">
            <label class="mylabel">Imagenes</label>
            <button type="button" ng-click="dropzoneReset()">Quitar Imagenes</button>
            <div class="dropzone-container">
                <!-- <div dropzone="" id="dropzone" class="dropzone dz-clickable">
                    <div class="dz-default dz-message">
                        <span>Drop files here to upload</span>
                    </div>
                </div> -->
                <div class="dropzone" dropzone="" id="dropzone">
                    <div class="dz-default dz-message">
                        <span>Drop files here to upload</span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="myfield">
            <button class="mybutton" ng-click="publicarDepto()">Publicar</button>
            <!-- <button class="btn btn-success" type="button" ng-click="uploadFile()">Upload File</button> -->
        </fieldset>
    </form>
</div>