        <section class="resultado">

            <h2>Mis Publicaciones</h2>

            <section class="resultados">
                <article class="articulo" ng-repeat="item in resultados">
                    <img src="{{item.thumbnail}}" alt="foto" class="foto">
                    <section class="articulo-header">    
                        <h2 class="titulo">{{item.title}} --- $ {{item.price}}</h2>
                        <p class="texto">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sunt blanditiis quos optio accusantium nostrum sequi sapiente, dicta animi illo, tempore, vitae sit consequuntur. Consectetur fuga obcaecati debitis, maxime ratione!
                        </p>
                    </section>
                    <div class="btn-container">
                        <button class="btn-detalle">Ver</button>
                        <button class="btn-detalle">Modificar</button>
                        <button class="btn-detalle">Eliminar</button>
                    </div>
                </article>
            </section>

            <section class="resultados">
                <article class="articulo">
                    <img src="" alt="foto" class="foto">
                    <section class="articulo-header">    
                        <h2 class="titulo">Subtitulo</h2>
                        <p class="texto">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sunt blanditiis quos optio accusantium nostrum sequi sapiente, dicta animi illo, tempore, vitae sit consequuntur. Consectetur fuga obcaecati debitis, maxime ratione!
                        </p>
                    </section>
                    <div class="btn-container">
                        <button class="btn-detalle">Ver</button>
                        <button class="btn-detalle">Modificar</button>
                        <button class="btn-detalle">Eliminar</button>
                    </div>
                </article>
            </section>

<section class="resultados">
                <article class="articulo">
                    <img src="" alt="foto" class="foto">
                    <section class="articulo-header">    
                        <h2 class="titulo">Subtitulo</h2>
                        <p class="texto">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sunt blanditiis quos optio accusantium nostrum sequi sapiente, dicta animi illo, tempore, vitae sit consequuntur. Consectetur fuga obcaecati debitis, maxime ratione!
                        </p>
                    </section>
                    <div class="btn-container">
                        <button class="btn-detalle">Ver</button>
                        <button class="btn-detalle">Modificar</button>
                        <button class="btn-detalle">Eliminar</button>
                    </div>
                </article>
            </section>

        </section>