        <section class="resultado">

            <h2>Mis Publicaciones</h2>

            <section class="resultados">
                <article class="articulo" ng-repeat="item in resultados">
                    <img src="{{item.thumbnail}}" alt="foto" class="foto">
                    <section class="articulo-header">    
                        <h2 class="titulo">{{item.title}}</h2>
                        <p class="texto">
                            {{item.description}}
                        </p>
                    </section>
                    <div class="btn-container">
                        <button class="btn-detalle" ng-click="verDetallePub({{item._id}})">Ver</button>
                        <button class="btn-detalle" ng-click="modificarPub({{item._id}})">Modificar</button>
                        <button class="btn-detalle" ng-click="eliminarPub({{item._id}})">Eliminar</button>
                    </div>
                </article>
            </section>

        </section>