        <section class="pub-det">

            <!-- <h2>Depto Super Copado</h2> -->
            <h2>{{resultado.title}}</h2>

            <section class="pub-datos">
                <article class="articulo">
                    <img src="" alt="foto" class="foto">
                    <section class="arti-data">

                        <div class="fecha-container">
                            <input class="fecha" type="date" name="fecDesde" placeholder="Desde" ng-model="fechaDesde">
                            <input class="fecha" type="date" name="fecHasta" placeholder="Hasta" ng-model="fechaHasta">
                        </div>

                        <div class="btn-container">
                            <button class="btn-detalle" ng-click="reservarDepto(item._id)">Reservar</button>
                        </div>

                        <p class="texto">
                            {{resultado.description}}
                        </p>
                        <!-- Owner Data -->
                        <div class="user-data-container">
                            <img src="" alt="user-pic" class="user-pic">
                            <h3 class="titulo">Juan Perez</h3>
                        </div>

                    </section>
                </article>
            </section>

            <section class="pub-map" id="map_canvas"></section>
        </section>