<section class="home">
	<section class="menuBuscador">
		<div class="menuBuscador-container">
			<h3 class="titulo">Buscar Propiedad</h3>
			<input type="text" class="buscador" placeholder="Buscar..." ng-model="query">
			<button class="botonBuscar" ng-click="validarYBuscar()">Buscar</button>
		</div>
	</section>
	<section class="articulos">
		<article class="articulo">
			<h2 class="titulo">A Subtitle</h2>
			<p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sunt blanditiis quos optio accusantium nostrum sequi sapiente, dicta animi illo, tempore, vitae sit consequuntur. Consectetur fuga obcaecati debitis, maxime ratione!</p>
		</article>
		<article class="articulo">
			<h2 class="titulo">A Subtitle</h2>
			<p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sunt blanditiis quos optio accusantium nostrum sequi sapiente, dicta animi illo, tempore, vitae sit consequuntur. Consectetur fuga obcaecati debitis, maxime ratione!</p>
		</article>
		<article class="articulo">
			<h2 class="titulo">A Subtitle</h2>
			<p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto sunt blanditiis quos optio accusantium nostrum sequi sapiente, dicta animi illo, tempore, vitae sit consequuntur. Consectetur fuga obcaecati debitis, maxime ratione!</p>
		</article>
	</section>
</section>